<div class='row'>
  <div class='col-sm-6 main-page-header'>
    <div>
      <div class='d-flex justify-content-center align-items-center '>
        <h4 class='text-center mx-1'><%= t('navigation.customers') %> </h4>
        <%= link_to new_buyer_path do %>
          <i title='yangi mijoz' class="fa-solid fa-user-plus"></i>
        <% end %>
      </div>

      <input class='form-control' type='text' placeholder='qidirish' id='searchInput'>
      <div class='counterparties-max-height'>
        <%= render 'buyers/buyers', buyers: @buyers, shrink: true %>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div>
      <div class='d-flex justify-content-center align-items-center '>
        <h4 class='text-center mx-1'><%= t('navigation.suppliers') %> </h4>
        <%= link_to new_provider_path do %>
          <i title='yangi yuk beruvchi' class="fa-solid fa-user-plus"></i>
        <% end %>
      </div>
      <div class='counterparties-max-height'>
        <%= render 'providers/providers', providers: @providers, shrink: true %>
      </div>
    </div>
  </div>
</div>
