<table class="table shadow table-hover table-bordered table-striped">
  <thead class='table-dark'>
    <tr>
      <% unless defined?(shrink) %>
        <th><%= t('buyers.index.id') %></th>
      <% end %>
      <th><%= t('buyers.index.name') %></th>
      <th><%= t('buyers.index.debt') %></th>
      <% unless defined?(shrink) %>
        <th><%= t('buyers.index.phone_number') %></th>
        <th><%= t('buyers.index.comment') %></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody style='font-size: large' id='buyers-list'>
    <% buyers.order(:name).each do |buyer| %>
      <tr data-buyer-name="<%= buyer.name %>" class="<%= active_tr(buyer.active) %>">
        <% unless defined?(shrink) %>
          <td><%= buyer.id %></td>
        <% end %>
        <td>
          <%= buyer.name %>
          <% if buyer.image.persisted? %>
            <%= link_to image_tag(buyer.image, style: 'width: 60px; height:55px; object-fit:contain'), buyer.image %>
          <% end %>
        </td>
        <td>
          <%= link_to num_to_usd(buyer.calculate_debt_in_uzs), sales_url(q_other: {total_paid_less_than_price: '1'},q: {buyer_id_eq: buyer.id, price_in_usd_true: false}), method: :get, class: "#{ (buyer.calculate_debt_in_uzs < 0) ? 'badge-danger' : 'badge' }" %>
          <%= link_to number_to_currency(buyer.calculate_debt_in_usd), sales_url(q_other: {total_paid_less_than_price: '1'},q: {buyer_id_eq: buyer.id, price_in_usd_true: true}), method: :get, class: "#{ (buyer.calculate_debt_in_uzs < 0) ? 'badge-danger' : 'badge' }" %>
        </td>
        <% unless defined?(shrink) %>
          <td><%= buyer.phone_number %></td>
          <td><%= buyer.comment %></td>
          <td>
            <%= clink_to t('buyers.index.edit'), edit_buyer_path(buyer), 'bi-pen' %>
            <% if buyer.active %>
              <%= clink_to t('buyers.index.deactivate'), toggle_active_buyer_path(buyer), 'bi-ban', :post %>
            <% else %>
              <%= clink_to t('buyers.index.activate'), toggle_active_buyer_path(buyer), 'bi-bar-chart', :post %>
            <% end %>
          </td>
        <% end %>
        <td><%= button_to t('buyers.index.perform_sale'), default_create_sales_path(buyer_id: buyer.id), method: :post, class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
